<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5%;
    }

    .navbar a {
      color: #fff; /* Text color */
      text-decoration: none;
      margin: 0 20px;
      font-size: 16px;
      background-color: #0074D9; /* Background color */
      padding: 10px 20px;
      border-radius: 4px;
    }

    h1 {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    p {
      font-size: 18px;
      margin-top: 20px;
    }

    .btn {
      display: inline-block;
      background-color: #0074D9;
      color: #fff; /* Text color */
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 4px;
      margin-top: 20px;
    }

    .btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <a href="/views/signup">Sign Up</a>
    <a href="/views/login">Login</a>
  </div>
  <h1>Raymond Todo Application</h1>
  <div class="container">
    <p>Keeping Track of your daily Tasks</p>
    <p>Enjoy your experience with us!</p>
    <a class="btn" href="/views/login">Get Started</a>
  </div>
</body>
</html>
